body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(229, 229, 229);
    background-image: url(images/Ellipse\ 119.svg),
    url(images/Rectangle\ 491.svg);
    background-repeat: no-repeat;
    background-position-x: 0px, 0px;
    background-position-y: 550px, 800px;
}
.container {
    max-width: 2400px;
    margin-left: auto;
    margin-right: auto;

}
header {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin-top: 50px;

}
.header-image {
    display: flex;
    align-items: center;
    gap: 12px;
}
.header-options {
    display: flex;
    list-style-type: none;
    align-items: center;
}
.header-options li {
    padding-right: 48px;
}
.header-button {
    padding: 10px 15px;
    background-color: rgb(100, 123, 100);
    border-color: transparent;
    color: rgb(254, 254, 254);
    border-radius: 3px;
}
li a {
    text-decoration: none;
    line-height: 20px;
    color: rgb(51, 51, 51)
}
.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: 180px;
    margin-right: 200px;
}
.main-left {
    align-self: center;
    width: 495px;
    background-image: url(images/Ellipse\ 116.svg);
    background-repeat: no-repeat;
    background-position-x: 155px;
    background-position-y: 10px;
}
.main-content-header {
    line-height: 116%;
    font-size: 48px;
}
.main-content-content {
    line-height: 132%;
    font-size: 20px;
    text-align: left;
}
.main-right {
    display: flex;
    justify-content: flex-end;
}

.main-content-button {
    width: 350px;
    height: 73px;
    text-align: left;
    padding-left: 29px;
    text-transform: uppercase;
    background-color: rgb(100, 123, 100);
    border-color: transparent;
    color: rgb(254, 254, 254);
    border-radius: 2px;
    background-image: url(images/Vector.svg);
    background-repeat: no-repeat;
    background-position: 306px;
}
.second-content {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    gap: 109px;
    margin-top: 141px;
}
.second-content-left {
    margin-left: 140px;
    width: 412px;
}
.second-fade {
    /*background-image: linear-gradient(rgb(255, 229, 210),rgb(229, 229, 229)); */
}
.second-content-header {
    color:rgb(243, 181, 98);
    font-size: 24px;
    text-transform: uppercase;
}
.second-content-title {
    color: rgb(100, 123, 100);
    font-size: 41px;
    text-transform: uppercase;
    margin-top: 17px;
}
.second-content-content {
    font-size: 16px;
    line-height: 132%;
    letter-spacing: 4%;
    width: 412px;
}
.second-content-button {
    width: 350px;
    height: 73px;
    text-align: left;
    padding-left: 29px;
    text-transform: uppercase;
    background-color: rgb(100, 123, 100);
    border-color: transparent;
    color: rgb(254, 254, 254);
    border-radius: 2px;
    background-image: url(images/Vector.svg);
    background-repeat: no-repeat;
    background-position: 306px;
}
.second-content-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 78px;
}
.right-img1 {
    background-color:rgb(100, 123, 100);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 16px;
}
.right-img {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 16px;
}
.right-one {
    background-color: white;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 27px;
    padding-bottom: 45px;
    border-radius: 8px;
}
.right-two,
.right-three,
.right-four {
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 27px;
        padding-bottom: 45px;
        border-radius: 8px;
}
.right-title span {
    font-weight: bold;
}
.right-content {
    font-size: 13px;
}
.third-content {
    margin-top: 147px;
}
.third-content-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    color:rgb(243, 181, 98);
}
.third-content-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 41px;
    color: rgb(100, 123, 100);
}
.third-content-options {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 338px;
    gap: 50px;
    margin-top: 56px;
    justify-content: center;
}
.third-content-opt-one,
.third-content-opt-two,
.third-content-opt-three {
    padding-top: 78px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 8px;
    overflow: hidden;
}
.third-content-opt-one,
.third-content-opt-three{
    background: linear-gradient(180deg, rgba(240,240,240,1) 40%, rgba(100,123,100,1) 300%);
}
.third-content-opt-two {
    background-color: rgb(100, 123, 100);
    color: white;
}
.third-content-icon {
    display: block;
    margin-bottom: 24px;
}
.option-title {
    text-transform: uppercase;
    line-height: 116%;
}
.option-content {
    line-height: 132%;
    letter-spacing: 4%;
}
.fourth-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 171px;
    justify-content: space-around;
    gap: 165px;
}
.fourth-left {
    width: 623px;
    height: 605px;
}

.fourth-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.fourth-content-header {
    color:rgb(243, 181, 98);
    font-size: 24px;
    text-transform: uppercase;
}
.fourth-content-title {
    color: rgb(100, 123, 100);
    font-size: 41px;
    text-transform: uppercase;
    margin-top: 17px;
}
.fourth-content-content {
    line-height: 132%;
    letter-spacing: 4%;
    margin-top: 24px;
    margin-bottom: 40px;
}
.fourth-button {
    width: 350px;
    height: 73px;
    text-align: left;
    padding-left: 29px;
    text-transform: uppercase;
    border-radius: 2px;
    background-color: rgb(100, 123, 100);
    border-color: transparent;
    color: rgb(254, 254, 254);
    background-image: url(images/Vector.svg);
    background-repeat: no-repeat;
    background-position: 306px;
}
.fifth-content {
    margin-top: 197px;
}
.fifth-content-top {
    display: flex;
    justify-content: space-between;
    align-items:center;

}
.fifth-content-header {
    color:rgb(243, 181, 98);
    font-size: 24px;
    text-transform: uppercase;
}
.fifth-content-title {
    color: rgb(100, 123, 100);
    font-size: 41px;
    text-transform: uppercase;
    margin-top: 17px;
}
.fifth-content-img1 {
    width: 28px;
    margin-bottom: 70px;
}
.fifth-content-img2 {
    width: 142px;
}
.fifth-content-bot {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 172px;
    gap: 40px;
}

.fifth-content-opt-one,
.fifth-content-opt-two,
.fifth-content-opt-three {
    display: flex;
    flex-wrap: wrap;
    border-radius: 6px;
    background: rgb(255,255,255);
    background: linear-gradient( rgba(255,255,255,1) 0%, rgba(100,123,100,0.10) 100%);
    padding-left: 40px;
    padding-top: 32px;
    padding-bottom: 32px;
}
.opt-header3 {
    margin-left: -20px;
}
.opt-header-upper {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    margin-bottom: 5px;
}
.opt-header-lower {
    font-size: 13px;
}
.opt-content {
    font-style: italic;
}
footer {
    background-color: rgb(240, 220, 197);
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding-top: 100px;
    padding-bottom: 97px;
    gap: 60px;
}
.footer-icon1 {
    width: 48.4px;
    height: 35.08px;
}
.footer-icon2 {
    margin-left: 10px;
    margin-bottom: 10px;
}
.footer-para {
    width: 249px;
    font-size: 14px;
}
.footer-copyright {
    font-size: 14px;
    line-height: 24px;
}
.footer-rights {
    font-size: 14px;
    line-height: 24px;
}
.social-icons {
    margin-top: 19px;
}
.social-icons a {
    margin-right: 16px;
}
.second-column {

}
.second-column-header,
.third-column-header {
    color: rgb(100, 123, 100);
    font-weight: 500;
}
.footer-links-one,
.footer-links-two {
    list-style-type: none;
    padding: 0;
    margin-top: 24px;
    line-height: 26px;
}
.footer-links-one li,
.footer-links-two li {
   margin-bottom: 12px; 
}
.form-header {
    color: rgb(100, 123, 100);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}
.form-email {
    display: flex;
    margin-top: 13px;
    width: 259px;
    height: 101px;
    border: none;
    margin-bottom: 28px;
    resize: none;
    padding-top: 12px;
    padding-left: 24px;
}
.form-button {
    width: 287px;
    height: 56px;
    text-align: left;
    padding-left: 29px;
    text-transform: uppercase;
    background-color: rgb(100, 123, 100);
    border-color: transparent;
    color: rgb(254, 254, 254);
    border-radius: 2px;
    background-image: url(images/Vector.svg);
    background-repeat: no-repeat;
    background-position: 243px;
    background-size: 17px 12px;
}

@media screen and (max-width: 1260px) {
    header {
        background-image: url(images/Icon.png);
        background-repeat: no-repeat;
        background-position: 100%;
        margin-right: 0;
    }
    .header-menu {
        visibility:hidden
    }
    .main-right {
        position: relative;
        margin-right: -200px;
    }
    .second-content {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 3fr;
    }
    .second-content-left {
        width: 45%;
    }
    .second-content-content {
        width: 100%;
    }
    .third-content-options {
        justify-content: normal;
    }
    .fourth-left {
        position: relative;
        right: 400px;
        overflow: hidden;
    }
    .fourth-right {
        position: relative;
        right: 400px;
        width: 400px;
        overflow: hidden;
    }
    .fifth-content {
        margin-right: 0;
    }
    .fifth-content-bot {
        overflow: hidden;
        grid-template-columns: 38% 38% 38%;
    }
    .fifth-content-img {
        visibility: hidden;
    }
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .first-column {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .fourth-column {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}
@media screen and (max-width: 1000px) {
    body {
        background-position-x: -100px, 0px;
        background-position-y: 400px, 800px;
    }
    .main-right {
        z-index: -1;
    }
    .tennis {
        position: relative;
        right: -0px;
    }
}